<h1>Welcome @ViewBag.newUser.UserName!</h1>

<a asp-controller="spa" asp-action="index">Return to Spa</a>

<div>
    <p>
        @ViewBag.newUser.UserName</br> @ViewBag.newUser.Email</br> @ViewBag.newUser.Date
    </p>
</div>